html, body{
  height: 100%;
}
body {
            background-image: url("bg.png");
            background-position: center center;
            background-repeat:  no-repeat;
            background-attachment: fixed;
            background-size:  cover;
            background-color: #999;
            color: #333;
}

div, body{
  margin: 0;
  padding: 0;
}

.stuff {
    max-width: 640px;
    margin: 2em auto;
    padding: .5em;
}

.talk {
    text-align:right;
    float:right;
    width:100%;
}

.logo {
    max-width:250px;
}

h1, h2, h3, p, center {
	font-family: 'Source Code Pro', monospace;
}

input, select, .g-recaptcha {
    display:block;
    float:right;
}

hr {
    height: 5px;
    margin-top: .5em;
    margin-bottom: .5em;
    background: #333;
    border:0;
}

textarea, input, select, option {
    border: 2px solid black;
    margin-top:1em;
    margin-bottom:1em;
    padding:1em;
    max-width:350px;
    width:100%;
	font-family: 'Source Code Pro', monospace;
    background:white;
}

textarea {
    height:200px;
}

.submit{
    background:white;
    text-transform: uppercase;
    cursor: pointer;
}

.submit:hover{
    background:#25D7FD;
    color:black;
}



.b1 {
    background: rgba(101, 135, 161, 0.5);
    color: white;
}

.b2 {
    background: rgba(213, 140, 105, 0.5);
    color: white;
}

.b3 {
    background: rgba(101, 135, 161, 0.5);
    color: white;
}

.b4 {
    background: rgba(144, 169, 89, 0.5);
    color: white;
}

.b5 {
    background: rgba(80, 182, 208, 0.5);
    color: white;
}


.tag {
    padding: .3em;
    margin: .4em .1em .4em .1em;
    display: inline-block;
    text-transform: uppercase;
}

.tags {
    margin-top:1em;
}

